<div class="home-container">
  <div class="container">
    <div class="desc">
      <h1>Bem-vindo ao EduCards</h1>
      <p>
        Já imaginou poder ver uma célula ou até mesmo um planeta em 3D, como se eles estivessem na sua frente, enquanto estuda sobre eles? Com o EduCards, a magia da realidade aumentada transforma o aprendizado em uma experiência interativa e inesquecível.
        Basta apontar a câmera do seu dispositivo para as cartas EduCards que o conteúdo salta do papel para o mundo real. Além de visualizar modelos 3D incríveis, você terá acesso a informações sobre cada carta, tudo de forma simples e intuitiva.
        O EduCards é a ferramenta perfeita para complementar seus estudos e despertar a curiosidade sobre diversos temas. Com a gente, aprender se torna uma aventura mágica!
      </p>
    </div>
    <div class="logo">
      <img src="../../../assets/imgs/logo1.png" alt="logo" class="logo1">
    </div>
  </div>
</div>
